body {
  background-color: #fbfbfb;
  width: 960px;
  margin: 0 auto;
}

img {
  float: left;
  margin-right: 1em;
}

footer {
  font-style: italic;
  color: #777;
}

/*********************** Your code goes here ***********************/

/* 18, 21.6, 25.92, 31.1, 37.32, 44.79 */

html {
  font-size: 62.5%;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #205147;
  background-image: linear-gradient(to bottom, #023326 0%, #053335 50%, #0a1928 100%);
}

header,
section,
footer {
  background-color: #f1efe7;
  padding: 5.4rem;
  box-shadow: 5px 5px 5px 0 #0a1928;
  margin-bottom: 8.1rem;
  /* background-image: linear-gradient(#6c9c80 1px, transparent 1px);
  background-size: auto 2.7rem; */
  border-radius: 3px;
}

header {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

section,
footer {
  padding: 5.4rem 8.1rem 8.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Imbue', serif;
  color: #b99658;
}

h1 {
  font-size: 5.375rem;
  line-height: 8.1rem;
  text-align: center;
}

h2 {
  font-size: 4.479rem;
  line-height: 8.1rem;
}

h3 {
  font-size: 3.732rem;
  line-height: 8.1rem;
}

h4 {
  font-size: 3.11rem;
  line-height: 5.4rem;
}

h5 {
  margin-top: -2.7rem;
}

h5,
h6 {
  font-size: 2.592rem;
  line-height: 5.4rem;
}

header ul {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  margin: 2.7rem 0;
}

header li {
  width: 13%;
  text-align: center;
}

header li:nth-child(3) {
  width: 17%;
}

header li:last-child {
  width: 16%;
}

section {
  margin-top: 2.7rem;
}

section img {
  margin: 1.35rem 1.8rem 1.35rem 0;
}

section p {
  margin-bottom: 2.7rem;
}